

body {
    color:white;
    background: #404042;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

  a {
    text-align: center;
    text-decoration: none;
    color: white;
  }
  a.linkOrange, a.linkOrange:hover, a.linkOrange:visited {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
  }
  .contain{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
  }
  .imageBox{
    text-align: center;
  }
  div.comingSoon {
    font-size: 24px;
    text-align: center;
    float: none;
  }
  div.address {
    text-align: center;
    float: none;
  }
  div.tel {
    text-align: center;
    float: none;
  }
  div.fax {
    text-align: center;
    float: none;
  }
  div.hoursofoperation {
    text-align: center;
    float: none;
  }
  div.linkOrange{
    text-align:center;
    float: none;
  }
  div.hours {
    text-align: center;
    float: none;
  }
  div.inventory {
    text-align: center;
    float: none;
  }
  div.topSpacer{
    height: 20px;
  }
  div.soonSpacer{
    height: 100px;
  }
  div.logoSpacer{
    height: 20px;
  }
  div.faxSpacer{
    height: 20px;
  }
  div.hoursSpacer{
    height: 100px;
  }